
.carts {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 90%;
}
.carts > div {
    border :none;
    padding: 15px;
    margin-bottom: 20px;
}
.carts h1 {
    color: #ed7438;
    margin-bottom: 15px;
}

.carts h2 {
    font-size: 20px;
    margin-top: 15px;
}

.products {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9f9f9;
    margin: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    border-radius: 10px;

  }
  
  .products p {
    margin: 10px 0;
    color:black;
  }
  
  .products img {
    max-width:80%;
    height: auto;
    margin-top: 20px;
  }