.single-usr-dtls {
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    padding-bottom: 20px;
  }
  
  .single-usr-dtls h2 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
  }
  
  .single-usr-dtls p {
    
    color:#000;
    line-height: bold;
  }
  .title{
    font-weight: bold;
  
  }
  .nav-users {
    width:100%;
    background-color: #ed7438;
    display: flex;
    justify-content: space-around;

  
  }
  
  .nav button {
    color:white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .nav button:hover {
    background-color: #de8518;
  }
  .user-btn{
    display: flex;
    justify-content: flex-end;
  }
  .options {
    display: flex;
    justify-content:space-between;
  }
