
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .content {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .user-list{
    width:300px;
    border-radius: 5px;
    box-shadow:0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    margin-right: 20px;
  
    

  }
   .chart, .posts {
    background-color: #f9f9f9;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-right: 10px;
  }
  
  .user-list .card {
    width: 80%;
    margin: 20px auto;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  table, th, td {
    border: 1px solid #ddd;
    padding: 10px;
  }
  
  th {
    background-color: #df823b;
    color: white;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tr:hover {
    background-color: #ddd;
  }
  
  .user-list button {
    display:flex;
    background-color: #d16522;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #d1926b;
  }
  
  .posts h3 {
    margin: 0;
  }
  
  .posts p {
    margin: 0 0 10px 0;
  }